POSTGRES_PASSWORD=choose-a-local-password
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
DEFAULT_REALM_SLUG=area-52
COMPARISON_REALM_SLUGS=stormrage,illidan,tichondrius,sargeras,malganis,ragnaros
COLLECTION_INTERVAL_MINUTES=10
